<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-26-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-21-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>

  <lightning-tabset variant="scoped">
    <lightning-tab label="Gallery">
      <template if:true={boats}>
        <div class="slds-scrollable_y">
          <lightning-layout horizontal-align="center" multiple-rows="true">
            <template for:each={boats} for:item="boat">
              <lightning-layout-item padding="around-small" key={boat.Id} size="12" small-device-size="6"
                medium-device-size="4" large-device-size="3">
                <c-boat-tile boat={boat} selected-boat-id={selectedBoatId} onboatselect={updateSelectedTile}>
                </c-boat-tile>
              </lightning-layout-item>
            </template>
          </lightning-layout>
        </div>
      </template>
    </lightning-tab>
    <lightning-tab label="Boat Editor">
      <template if:true={boats}>
        <div class="slds-scrollable_y">
          <lightning-datatable key-field="Id" 
            data={boats} 
            columns={columns}
            onsave={handleSave}
            draft-values={draftValues}
            hide-checkbox-column>
          </lightning-datatable>
        </div>
      </template>
    </lightning-tab>
    <lightning-tab label="Boats Near Me">
      <template if:true={boats}>
        <c-boats-near-me boat-type-id={boatTypeId}></c-boats-near-me>
      </template>
    </lightning-tab>
  </lightning-tabset>
</template>