<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-26-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-26-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <template if:false={wiredRecord.data}>
        <!-- lightning card for the label when wiredRecord has no data goes here  -->
        <lightning-card>
            <span class="slds-align_absolute-center" style="height:no-boat-height">{label.labelPleaseSelectABoat}</span>
        </lightning-card>
    </template>
    <template if:true={wiredRecord.data}>
        <!-- lightning card for the content when wiredRecord has data goes here  -->
        <lightning-tabset variant="scoped">
            <lightning-tab label={label.labelDetails}>
                <lightning-card title={boatName} icon-name={detailsTabIconName}>
                    <lightning-button label={label.labelFullDetails} slot="actions" onclick={navigateToRecordViewPage}></lightning-button>
                    <lightning-record-view-form density="compact" record-id={boatId} object-api-name="Boat__c">
                        <div class="slds-box">
                            <lightning-output-field field-name={fields.BOAT_TYPE_FIELD}></lightning-output-field>
                            <lightning-output-field field-name={fields.BOAT_LENGTH_FIELD}></lightning-output-field>
                            <lightning-output-field field-name={fields.BOAT_PRICE_FIELD}></lightning-output-field>
                            <lightning-output-field field-name={fields.BOAT_DESCRIPTION_FIELD}></lightning-output-field>
                        </div>
                    </lightning-record-view-form>
                </lightning-card>

            </lightning-tab>
            <lightning-tab label={label.labelReviews} value="reviews">
                <c-boat-reviews record-id={boatId}></c-boat-reviews>
            </lightning-tab>
            <lightning-tab label={label.labelAddReview}>
                <c-boat-add-review-form record-id={boatId} oncreatereview={handleReviewCreated}></c-boat-add-review-form>
            </lightning-tab>
            <lightning-tab></lightning-tab>
        </lightning-tabset>
    </template>
</template>