<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-27-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-26-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <lightning-record-edit-form object-api-name="BoatReview__c" onsubmit={handleSubmit} onsuccess={handleSuccess}>
        <lightning-messages></lightning-messages>
        <lightning-layout multiple-rows vertical-align="start">
            <lightning-layout-item size="8" padding="horizontal-small">
                <div class="slds-form-element">
                    <label for="reviewsubject" class="slds-form-element__label">Review Subject</label>
                    <lightning-input-field id='reviewsubject' field-name={nameField} variant='label-hidden'></lightning-input-field>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="horizontal-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="rating">Rating</label>
                    <div class="slds-form-element__control">
                        <c-five-star-rating id="rating" onratingchange={handleRatingChanged}></c-five-star-rating>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small">
                <!-- review comment field code using commentField -->
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="comment"></label>
                    <!-- <div class="slds-form-element__control"> -->
                        <lightning-input-field id="comment" field-name={commentField} variant='label-hidden'></lightning-input-field>
                    <!-- </div> -->
                </div>  
            </lightning-layout-item>
        </lightning-layout>
        <div class="slds-align_absolute-center btn-margin">
            <lightning-button icon-name="utility:save" variant="brand" type="submit" name="save" label="Submit">
            </lightning-button>
        </div>

    </lightning-record-edit-form>
</template>