<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-26-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-21-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <!-- <p> boatTile HERE </p> -->
    <div onclick={selectBoat} class={tileClass}>
        <div style={backgroundStyle} class="tile"></div> 
        <!-- backgroundStyle -->
        
        <div class="lower-third">
            <!-- Boat information goes here -->
            <!-- boat name -->
            <h1 class="slds-truncate slds-text-heading_medium">{boat.Name}</h1>
            <!-- boat's owner's name -->
            <h2 class="slds-truncate slds-text-heading_small">{boat.Contact__r.Name}</h2>
            <!-- boat price -->
            <div class="slds-text-body_small">
                <lightning-formatted-number maximum-fraction-digits="2" value={boat.Price__c}></lightning-formatted-number>
            </div>
            <!-- boat length -->
            <div class="slds-text-body_small">{boat.Length__c}</div>
            <!-- boat type -->
            <div class="slds-text-body_small">{boat.BoatType__r.Name}</div>
        </div>
    </div>
</template>