<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-20-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-20-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <lightning-layout>
        <lightning-layout-item class="slds-align-middle">
            <!-- An empty string is both the first and default value. Label this first value All Types -->
            <!-- selectedBoatTypeId  -->
            <!-- searchOptions  -->
            <lightning-combobox 
                variant="label-hidden"
                label="Boat Type"
                placeholder="All Types"
                class="slds-align-middle" 
                value={selectedBoatTypeId}
                options={searchOptions}
                onchange={handleSearchOptionChange}></lightning-combobox>
        </lightning-layout-item>
    </lightning-layout>
</template>