<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-21-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-20-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <lightning-layout multiple-rows>
        <!-- TOP -->
        <lightning-layout-item size="12">
            <lightning-card title="Find a Boat" class="slds-text-title_bold">
                <!-- New Boat button goes here -->
                <slot name="new" slot="actions"><lightning-button label="New Boat" onclick={createNewBoat}></lightning-button></slot>
                <div class="slds-align_absolute-center">
                <p class="slds-var-p-horizontal_small">
                    <!-- boatSearchForm component goes here -->
                    <c-boat-search-form onsearch={searchBoats}></c-boat-search-form>
                </p>
                </div>
            </lightning-card>
        </lightning-layout-item>
        <!-- BOTTOM -->
        <lightning-layout-item size="12" class="slds-p-top_small slds-is-relative">
            <template if:true={isLoading}>
                <!-- Spinner goes here -->
                <lightning-spinner alternative-text="Loading" variant="brand"></lightning-spinner>
            </template>
            <c-boat-search-results onloading={handleLoading} ondoneloading={handleDoneLoading} ></c-boat-search-results>
            <!-- boatSearchResults goes here -->
            <!--   -->
        </lightning-layout-item>
    </lightning-layout>
</template>