<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-27-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-27-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <ul class={starClass}></ul>
</template>