<!--
  @description       : 
  @author            : rexie.david@positivelendingsolutions.com.au
  @group             : 
  @last modified on  : 01-25-2021
  @last modified by  : rexie.david@positivelendingsolutions.com.au
  Modifications Log 
  Ver   Date         Author                                        Modification
  1.0   01-25-2021   rexie.david@positivelendingsolutions.com.au   Initial Version
-->
<template>
    <lightning-card class="slds-is-relative">
        <!-- The template and lightning-spinner goes here -->
        <template if:true={isLoading}>
            <!-- Spinner goes here -->
            <lightning-spinner alternative-text="Loading" variant="brand"></lightning-spinner>
        </template>
        <template if:true={isRendered}>
        <!-- The lightning-map goes here -->
            <lightning-map class="slds-card" map-markers={mapMarkers} zoom-level="10"></lightning-map>
            <div slot="footer">Top 10 Only!</div>
        </template>
    </lightning-card>
</template>